body {
  padding-top: 10px;
  background-color: black;
  color: white;
}
.starter-template {
  text-align: center;
}

.navbar-nav {
	text-align:center;
}
#logo {
	margin: 0 auto;
}

/* Footer Code */	
#footer {
	margin: 			auto;
	font-size:			90%;
	text-align:			center;
	color:				white;
	border-top:			2px solid white;
	padding-top:		1%;
	padding-bottom:		1%;
}
#footer img {
	width:				50px;
	height:				50px;
}

#footer span{font-size:150%;font-style:italic}

#community{
	float:				left;
	position:			relative;
	display:			inline-block;
	text-align:			center;
	padding-left:		3%;
}

#information{
	position:			relative;
	display:			inline-block;
	text-align:			center;
}

#paymentoptions{
	float:				right;
	position:			relative;
	display:			inline-block;
	text-align:			center;
	padding-right:		3%;
}

/* Services CSS */
.im-centered {
	display: inline-block;
	margin:5%;
	text-align: center;
}

.col-lg-4 p {
	width: 50%;
	text-align: center;
	margin: auto;
}

.btn {
	color:black;
	margin: 3%;

}

/* End Services CSS*/

.form-img img{
	float:		right;
	width: 		27%;
	height:		27%;
	margin-right:	22%;
}
 
.form-group input, select{
	width: 30%;
}

.form-image img{
	float:		right;
	width: 		50%;
	height:		35%;
	margin-right:	15%;
}

/* Gallery CSS Code */
#gallery {text-align:center;display:inline-block;position:relative;}
#gallery span{font-size:180%;font-style:italic}
.Pics #smallPicTable{
	width:				90%;
	height:				35%;
	text-align: 		center;
	table-layout: 		fixed;
	margin-left:		auto;
	margin-right:		auto;
	margin-bottom:		2%;
}
.Pics #smallPicTable img{
	height:		200px;
	width:		100%;
	padding:	3%;
	border:		1px solid whitesmoke;
}
/* End of Gallery CSS Code //

/* Homepage Code */
.index-body{
	height:			90%;
	width:			90%;
	margin:			auto;
	margin-top:		3%;
}
.index-body img{
	height:		60%;
	width:		50%;
	left:		0px;
}
.adbox {
	border: 		1px solid white ;
	width:			40%;
	height:			50%;
	right:			0px;
	margin-right: 	3%;
	text-align: 	center;
	float:			right;
}

#myAds img {
	width:				500px;
	height:				300px;
}
/* End of Homepage Code */
